.container {
//   background: linear-gradient(to right, #bfebc0, #57a859);
    padding: 25px;
    border-radius: 5%;

}

th {
    text-align: center;
    font-size: 20px;
    background-color: #FFB347;

}

td {
    text-align: center;
    padding: 15px;
    border-radius: 4%;
    background: transparent;

}

.table {
    border-radius: 4%;

}