.container {
// background: linear-gradient(to right, #ccd3b7);
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}
.container form{
  padding: 20px;
}

h2{
    text-align: start;
    margin-bottom: 30px;
}
h5{
  text-align: center;
}

.center-toast {
  position: fixed;
  inset: 0; /* shorthand for top: 0; right: 0; bottom: 0; left: 0; */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  pointer-events: none;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.9); 
}

.center-toast c-toaster,
.center-toast c-toast {
  pointer-events: auto;
  position: static !important; 
  margin: auto !important; 
   max-width: 90vw;
  max-height: 90vh;
  box-sizing: border-box;
}

.row{
  margin-top: 25px;
}

#submit{
  margin-top: 40px;
}
label{
  font-weight: bold;
  color: rgb(62, 48, 48);
}

#btn-apply {
  background-color: #10B981;      /* Emerald Green */
  color: white;
  border: none;
  padding: 10px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#btn-apply:hover {
  background-color: #059669;      /* Darker Emerald */
}
#btn-back {
  background-color: white;
  color: #1F2937;                 /* Dark Gray */
  border: 1.5px solid #D1D5DB;    /* Light Gray border */
  padding: 10px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#btn-back:hover {
  background-color: #F3F4F6;      /* Light Gray Hover */
}

// Modal Styles

.modal-box {
  background: white;
  padding: 20px 24px;
  border-radius: 8px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  width: 320px;
  text-align: center;
  font-family: "Segoe UI", sans-serif;
}

.modal-message {
  color: #374151; /* gray-700 */
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.btn-leave {
  background-color: #ef4444; /* red-500 */
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.btn-leave:hover {
  background-color: #dc2626; /* red-600 */
}

.btn-stay {
  background-color: #e5e7eb; /* gray-200 */
  color: #374151; /* gray-700 */
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.btn-stay:hover {
  background-color: #d1d5db; /* gray-300 */
}
h5{
  font-weight: bold;
  text-align: start;
  margin-bottom: 18px;
  color: black;
}

span{
    font-weight: 400;
}